@charset "UTF-8";
/* ─────────────────────── body */

h3 {
font-size: large;
margin :5% 0;
}

h4 {
font-size: 15px;
padding: 0.5em;
clear: both;
}

h4 img {
width: 15px;
padding: 0 1em;
}

#selfee {
margin: 5% auto;
width: 90%;
}

#selfees p{
font-size: small;
text-align: right;
}

#selfees {
width: 80%;
margin: auto;
}

#history {
padding: 50px;	
max-width: 800px;
}

#history p{
font-size: small;
line-height: 2em;
}

#end {
padding: 20px 0;
}

#wrapper #history h3 {
text-align: left;
clear: both;
}

hr {
display: none;
}
